body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #e2e1e0;
}

h2 {
  text-align: center;
}

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  .navbar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0rem 1rem;

      .logo {
        width: 20%;

        img {
          width: 4rem;
        }
      }

      .nav {
        width: 80%;
        display: flex;
        justify-content: space-around;;
        align-items: center;

        .item {
          a {
            color: inherit;
            text-decoration: inherit;
          }

          img {
            width: 1rem;
          }
        }
      }
  }
}

.card {
  background-color: #fff;
  border-radius: 2px;
  // height: 200px;
  position: relative;
  width: 100%;
}

.ghost {
  background-color: #ccc;
}

button {
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.mini-button {
  padding: 4px 8px;
  text-align: center;
  font-size: 14px;
  margin: 4px 2px;
  background: #cc2b5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #cc2b5e, #753a88); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #cc2b5e, #753a88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  &:hover {
    background: #ec008c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  &.selected {
    color: #000;
    background: #fff;

    &:hover {
      color: #fff;
      background: #536976;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header {
    .navbar {
        .logo {
          width: 10%;

          img {
            width: 3rem;
          }
        }

        .nav {
          width: 90%;
        }
      }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header {
    .navbar {
        .logo {
          width: 10%;

          img {
            width: 3rem;
          }
        }

        .nav {
          width: 90%;
        }
      }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header {
    .navbar {
        .logo {
          width: 10%;

          img {
            width: 4rem;
          }
        }

        .nav {
          width: 90%;
        }
      }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header {
    .navbar {
        .logo {
          width: 10%;

          img {
            width: 4rem;
          }
        }

        .nav {
          width: 90%;
        }
      }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header {
    .navbar {
        .logo {
          width: 10%;

          img {
            width: 4rem;
          }
        }

        .nav {
          width: 90%;
        }
      }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1224px) {
  .header {
    .navbar {
        .logo {
          width: 20%;

          img {
            width: 4rem;
          }
        }

        .nav {
          width: 80%;
        }
      }
  }
}

@media only screen and (min-width: 1824px) {
  .header {
    .navbar {
        .logo {
          width: 20%;

          img {
            width: 4rem;
          }
        }

        .nav {
          width: 80%;
        }
      }
  }
}
