.sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem 1rem 1rem;

    h2 {
        margin-bottom: 2rem;
    }

    .form {
        width: 45rem;
        margin: 1rem 1rem;

        form {
            width: 45rem;

            .row {
                display: grid;
                grid-template-columns: 45% 45%;
                margin-bottom: 0.5rem;
    
                input[type=text], input[type="password"], input[type="number"], input[type="email"], select {
                    margin: 8px 0px;
                }
            }

            .ad-required {
                text-align: end;
                font-size: 0.8rem;
            }

            .actions {
                width: 100%;
                display: flex;
                justify-content: space-around;
                margin: 2rem 0rem;
            }
        }
    }
}


/* Extra small devices */
@media only screen and (max-width: 374px) {
    .sign-in {
        .form {
            width: 100%;
            form {
                width: 100%;
                .row {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    .input {
                        margin-bottom: 1rem;
                    }
                }
                .ad-required {
                    margin-top: 2rem;
                    text-align: center;
                }
                .actions {
                    flex-direction: column-reverse;

                    .button {
                        padding: 0.5rem 2rem !important;
                        margin-bottom: 1rem;
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}
  
/* small devices */
@media only screen and (min-width: 375px) and (max-width: 600px) {
    .sign-in {
        .form {
            width: 100%;
            form {
                width: 100%;
                .row {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    .input {
                        margin-bottom: 1rem;
                    }
                }
                .ad-required {
                    margin-top: 2rem;
                    text-align: center;
                }
                .actions {
                    flex-direction: column-reverse;

                    .button {
                        padding: 0.5rem 2rem !important;
                        margin-bottom: 1rem;
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}

/* Small devices */
@media only screen and (min-width: 600px)  and (max-width: 768px) {
    .sign-in {
        .form {
            width: 100%;
            form {
                width: 100%;
                .row {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    .input {
                        margin-bottom: 1rem;
                    }
                }
                .ad-required {
                    margin-top: 2rem;
                    text-align: center;
                }
                .actions {
                    flex-direction: column-reverse;

                    .button {
                        padding: 0.5rem 2rem !important;
                        margin-bottom: 1rem;
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}

/* Medium devices */
@media only screen and (min-width: 768px) and (max-width: 992px) {

}

/* Large devices */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

}

/* large devices */
@media only screen and (min-width: 1200px) and (max-width: 1224px) {

}

/* Extra large devices */
@media only screen and (min-width: 1224px) and (max-width: 1824px) {

}

/* Extra large devices */
@media only screen and (min-width: 1824px) {

}