<div id="app-header" class="header">
    <div id="menu" class="navbar">
        <div class="logo" ng-click="navigateTo('welcome')">
            <img src="../images/logo_full_color.svg" alt="Logo de Wolox">
        </div>
        <div class="menu">
            <div class="nav">
                <div class="item" ng-click="navigateTo('welcome')">
                    <a>Inicio</a>
                </div>
                <div class="item" ng-click="navigateTo('technologies')">
                    <a>Tecnologías</a>
                </div>
                <div class="item" ng-click="navigateTo('benefits')">
                    <a>Beneficios</a>
                </div>
                <div class="item" ng-click="navigateTo('requirements')">
                    <a>Requerimientos</a>
                </div>
                <div ng-if="!getAuthenticated()" class="item">
                    <button ng-click="signIn()">
                        <a>Registro</a>
                    </button>
                </div>
                <div ng-if="getLikes() > 0" class="item">
                    <span>{{ getLikes() }}</span>
                    <img src="../images/heart.png" alt="Tecnologías seleccionadas">
                </div>
            </div>
        </div>
        <div id="mobile-menu" class="mobile-menu" ng-click="openMenu()">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div
        </div>
    </div>
</div>