<div class="header">
    <div class="navbar">
        <div class="logo">
            <img src="../images/logo_full_color.svg" alt="Logo de la aplicación">
        </div>
        <div class="nav">
            <div class="item">
                <a href="/">Inicio</a>
            </div>
            <div class="item">
                <a ng-href="/tecnologias">Tecnologías</a>
            </div>
            <div class="item">
                <a>Beneficios</a>
            </div>
            <!-- <div class="item">
                <a href="https://www.wolox.com.ar" target="_blank" rel="noopener noreferrer">Conocer más</a>
            </div> -->
            <div class="item">
                <a>Requerimientos</a>
            </div>
            <!-- <div class="item">
                <a ng-href="/sign-in">Registrarse</a>
            </div> -->
            <div class="item">
                <button>
                    <a ng-href="/sign-in">Login</a>
                </button>
            </div>
            <!-- <div class="item">
                <a href="https://twitter.com/Wolox" target="_blank" rel="noopener noreferrer">Síguenos</a>
            </div> -->
            <div ng-if="getLikes() > 0" class="item">
                <span>{{ getLikes() }}</span>
                <img src="images/heart.png" alt="Tecnologías seleccionadas">
            </div>
        </div>
    </div>
</div>