<div class="main">

  <div class="welcome">
    <!-- <img src="../images/Bg_Header.png" alt="" srcset=""> -->
    <div class="info">
      <p>Bienvenido a tu</p>
      <p><span class="bold">Entrevista Técnica&nbsp;</span>en</p>
      <p><span class="bold green">Wolox</span></p>
    </div>
    <div class="hero">
      <img src="../images/Ic_ilustra_Hero.png" alt="">
    </div>
  </div>

  <div>
    <div>
      <p>Estamos buscando</p>
      <p>para incorporar gente</p>
      <p>increíble para estas</p>
      <p>tecnologías:</p>
    </div>
    <div>
      <img src="../images/Ic_Tecnologys.svg" alt="">
    </div>
  </div>

  <div>
    <div>
      <img src="../images/img_woloxer.png" alt="">
      <span>350 + Woloxers</span>
      <div>
        <img src="" alt="">
        <span>@Wolox</span>
      </div>
      <button>Siguenos</button>
    </div>
    <div>
      <p>Trabajamos para</p>
      <p>convertir ideas en</p>
      <p>productos</p>
    </div>
  </div>

  <div>
    <p>Entre los beneficios que ofrecemos se encuentran <span>;)</span></p>
    <div>
      <div>
        <img src="../images/Ic_Hour.svg" alt="">
        <p>Flexibilidad Horaria</p>
      </div>
      <div>
        <img src="../images/Ic_HomeOffice.svg" alt="">
        <p>Home Office</p>
      </div>
      <div>
        <img src="../images/Ic_Workshops.svg" alt="">
        <p>Capacitaciones y Workshops</p>
      </div>
      <div>
        <img src="../images/Ic_DrinkSnacks.svg" alt="">
        <p>Snacks, frutas y bebidas gratis</p>
      </div>
      <div>
        <img src="../images/Ic_laptop.svg" alt="">
        <p>Semana Remota</p>
      </div>
      <div>
        <img src="../images/Ic_brain.svg" alt="">
        <p>Trabajar en las ultimas tecnologías</p>
      </div>
    </div>
  </div>

  <div>
    <div>
      <p>Requerimientos</p>
    </div>
    <div>
      <div>
        <img src="../images/Ic_Bullet_1.svg" alt="">
        <p>Estudiantes avanzados o recibidos de carreras del rubro informático, sistemas o electrónicos.</p>
      </div>
      <div>
        <img src="../images/Ic_Bullet_2.svg" alt="">
        <p>Inglés intermedio/avanzado</p>
      </div>
      <div>
        <img src="../images/Ic_Bullet_3.svg" alt="">
        <p>Conocimiento en metodologías ágiles (deseable)</p>
      </div>
    </div>
  </div>

  <div>
    <img src="../images/Bg_Footer.png" alt="" srcset="">
    <div>
      <div>
        <p>Gracias por completar el ejercicio</p>
        <p>Te invitamos a ver maas información</p>
        <button>Conocer más</button>
      </div>
    </div>
    <div>
      <img src="../images/Ic_Wolox_Footer.svg" alt="" srcset="">
    </div>
  </div>

  <!-- <div class="section">
    <img src="../images/undraw_project_team.png" alt="">
  </div>

  <div class="section">
    <img src="../images/undraw_Followers.png" alt="">
  </div>

  <div class="section">
    <img src="../images/undraw_Sign_in.png" alt="">
  </div> -->
</div>