<div class="main">

  <div class="welcome">
    <div class="info">
      <p>Bienvenido a tu</p>
      <p><span class="bold">Entrevista Técnica&nbsp;</span>en</p>
      <p><span class="bold green">Wolox</span></p>
    </div>
    <div class="hero">
      <img src="../images/Ic_ilustra_Hero.png" alt="">
    </div>
  </div>

  <div class="technologies-section">
    <div class="info">
      <p>Estamos buscando</p>
      <p>para incorporar gente</p>
      <p>increíble para estas</p>
      <p>tecnologías:</p>
    </div>
    <div>
      <img src="../images/Ic_Tecnologys.svg" alt="Tecnologías usadas por Wolox">
    </div>
  </div>

  <div class="wolox">
    <div class="woloxer">
      <p class="woloxers">
        <span class="green">350 +&nbsp;</span>
        <span class="blue">Woloxers</span>
      </p>
      <div class="twitter">
        <img src="../images/twitter.png" alt="Twitter de Wolox">
        <span>@Wolox</span>
      </div>
      <a href="https://twitter.com/Wolox" target="_blank" rel="noopener noreferrer">
        <button>Siguenos</button>
      </a>
    </div>
    <div class="info">
      <p>Trabajamos para</p>
      <p><span class="blue bold">convertir</span>&nbsp;<span class="green bold">ideas</span>&nbsp;en</p>
      <p>productos.</p>
    </div>
  </div>

  <div class="benefits">
    <p>Entre los beneficios que ofrecemos se encuentran&nbsp;<span class="blue">;)</span></p>
    <div class="list">
      <div class="item">
        <img src="../images/Ic_Hour.svg" alt="">
        <p>Flexibilidad Horaria</p>
      </div>
      <div class="item">
        <img src="../images/Ic_HomeOffice.svg" alt="">
        <p>Home Office</p>
      </div>
      <div class="item">
        <img src="../images/Ic_Workshops.svg" alt="">
        <p>Capacitaciones y Workshops</p>
      </div>
      <div class="item">
        <img src="../images/Ic_DrinkSnacks.svg" alt="">
        <p>Snacks, frutas y bebidas gratis</p>
      </div>
      <div class="item">
        <img src="../images/Ic_laptop.svg" alt="">
        <p>Semana Remota</p>
      </div>
      <div class="item">
        <img src="../images/Ic_brain.svg" alt="">
        <p>Trabajar en las ultimas tecnologías</p>
      </div>
    </div>
    <span class="line"></span>
  </div>

  <div class="requirements">
    <div class="info">
      <p>Requerimientos</p>
    </div>
    <div class="list">
      <div class="item">
        <img src="../images/Ic_Bullet_1.svg" alt="">
        <p>Estudiantes avanzados o recibidos de carreras del rubro informático, sistemas o electrónicos.</p>
      </div>
      <div class="item">
        <img src="../images/Ic_Bullet_2.svg" alt="">
        <p>Inglés intermedio/avanzado</p>
      </div>
      <div class="item">
        <img src="../images/Ic_Bullet_3.svg" alt="">
        <p>Conocimiento en metodologías ágiles (deseable)</p>
      </div>
    </div>
  </div>

  <div class="footer">
    <div>
      <div>
        <p>Gracias por completar el ejercicio</p>
        <p>Te invitamos a ver maas información</p>
        <a href="https://www.wolox.com.ar" target="_blank" rel="noopener noreferrer">
          <button>Conocer más</button>
        </a>
      </div>
    </div>
    <div>
      <img src="../images/Ic_Wolox_Footer.svg" alt="" srcset="">
    </div>
  </div>
</div>