<div class="technologies">
    <h2>Tecnologías</h2>

    <div class="filter">
        <div class="order">
            Ordenar de la:
            <button class="mini-button" ng-class="{ 'selected': reverse }" ng-click="sortBy('a')">A - Z</button>
            <button class="mini-button" ng-class="{ 'selected': !reverse }" ng-click="sortBy('d')">Z - A</button>
        </div>
        <div class="search">
            <label for="type">Tipo:</label>
            <select id="type" name="type" placeholder="Buscar por tipo" ng-change="search()" ng-model="searchByType" ng-options="type for type in types">
                <option value="">-- Escoger tipo --</option>
            </select>
            <label for="tech">Nombre:</label>
            <input class="input-search" id="tech" name="tech" type="text" placeholder="Buscar por nombre" ng-change="search()" ng-model="searchByTech">
        </div>
    </div>

    <div ng-if="technologies.length == 0" class="techs">
        <div class="technology card ghost"></div>
        <div class="technology card ghost"></div>
        <div class="technology card ghost"></div>
        <div class="technology card ghost"></div>
    </div>

    <div ng-if="technologies.length > 0" class="techs">
        <div class="technology card" ng-repeat="technology in filteredTechs | orderBy : propertyName : reverse">
            <div class="logo">
                <img ng-src="{{ technology.logo }}" alt="logo de la tecnología">
            </div>
            <div class="like" ng-click="likeTechnology(technology)">
                <img ng-src="{{ technology.selected ? '../images/heart.png' : '../images/heartless.png' }}" alt="">
            </div>
            <div class="info">
                <p class="name">{{ technology.tech }}</p>
                <span><b>Año:</b> {{ technology.year }}</span>
                <span><b>Autor:</b> {{ technology.author }}</span>
                <span><b>Licencia:</b> {{ technology.license }}</span>
                <span><b>Lenguaje:</b> {{ technology.language }}</span>
                <span><b>Tipo:</b> {{ technology.type }}</span>
            </div>
        </div>
    </div>

    <div class="footer">
        Cantidad de registros: {{ filteredTechs.length }}
    </div>
</div>

